<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTest" verbose="2">

    <test name="Chrome browser">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="myTest.tests.MyTests"/>
        </classes>
    </test>

    <test name="Firefox browser">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="myTest.tests.MyTests"/>
        </classes>
    </test>

    <test name="Internet Explorer browser">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="myTest.tests.MyTests"/>
        </classes>
    </test>

</suite>